<div>
    <h2 id="page-heading">
        <span jhiTranslate="testangularApp.room.home.title">Rooms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room" [routerLink]="['/room/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testangularApp.room.home.createLabel">
            Create new Room
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rooms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testangularApp.room.name">Name</span></th>
            <th><span jhiTranslate="testangularApp.room.capacity">Capacity</span></th>
            <th><span jhiTranslate="testangularApp.room.createdOn">Created On</span></th>
            <th><span jhiTranslate="testangularApp.room.lastModifiedOn">Last Modified On</span></th>
            <th><span jhiTranslate="testangularApp.room.center">Center</span></th>
            <th><span jhiTranslate="testangularApp.room.schedule">Schedule</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms ;trackBy: trackId">
                <td><a [routerLink]="['/room', room.id, 'view' ]">{{room.id}}</a></td>
                <td>{{room.name}}</td>
                <td>{{room.capacity}}</td>
                <td>{{room.createdOn | date:'mediumDate'}}</td>
                <td>{{room.lastModifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="room.center">
                        <a [routerLink]="['../center', room.center?.id, 'view' ]" >{{room.center?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="room.schedule">
                        <a [routerLink]="['../schedule', room.schedule?.id, 'view' ]" >{{room.schedule?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/room', room.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room', room.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room/'+ room.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
