<div>
    <h2 id="page-heading">
        <span jhiTranslate="testangularApp.event.home.title">Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testangularApp.event.home.createLabel">
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testangularApp.event.title">Title</span></th>
            <th><span jhiTranslate="testangularApp.event.description">Description</span></th>
            <th><span jhiTranslate="testangularApp.event.eventImageURL">Event Image URL</span></th>
            <th><span jhiTranslate="testangularApp.event.eventDate">Event Date</span></th>
            <th><span jhiTranslate="testangularApp.event.createdOn">Created On</span></th>
            <th><span jhiTranslate="testangularApp.event.lastModifiedOn">Last Modified On</span></th>
            <th><span jhiTranslate="testangularApp.event.schedule">Schedule</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['/event', event.id, 'view' ]">{{event.id}}</a></td>
                <td>{{event.title}}</td>
                <td>{{event.description}}</td>
                <td>{{event.eventImageURL}}</td>
                <td>{{event.eventDate | date:'mediumDate'}}</td>
                <td>{{event.createdOn | date:'mediumDate'}}</td>
                <td>{{event.lastModifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="event.schedule">
                        <a [routerLink]="['../schedule', event.schedule?.id, 'view' ]" >{{event.schedule?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/event', event.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event', event.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
