<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-feature-heading" jhiTranslate="testangularApp.feature.home.createOrEditLabel">Create or edit a Feature</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!feature.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="feature.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testangularApp.feature.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="feature.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testangularApp.feature.featureType" for="field_featureType">Feature Type</label>
                    <select class="form-control" name="featureType" [(ngModel)]="feature.featureType" id="field_featureType" >
                        <option value="STANDARD">{{'testangularApp.FeatureType.STANDARD' | translate}}</option>
                        <option value="PREMIUM">{{'testangularApp.FeatureType.PREMIUM' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testangularApp.feature.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" [(ngModel)]="feature.parent" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="parentOption.id === feature.parent?.id ? feature.parent : parentOption" *ngFor="let parentOption of parents; trackBy: trackParentById">{{parentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
