<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studentProfile">
            <h2><span jhiTranslate="testangularApp.studentProfile.detail.title">Student Profile</span> {{studentProfile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.studentProfile.dream">Dream</span></dt>
                <dd>
                    <span>{{studentProfile.dream}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.studentProfile.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{studentProfile.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.studentProfile.bloodGroup">Blood Group</span></dt>
                <dd>
                    <span>{{studentProfile.bloodGroup}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.studentProfile.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'testangularApp.Gender.' + studentProfile.gender}}">{{studentProfile.gender}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student-profile', studentProfile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
