<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span jhiTranslate="testangularApp.notification.detail.title">Notification</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.notification.type">Type</span></dt>
                <dd>
                    <span>{{notification.type}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.notification.date">Date</span></dt>
                <dd>
                    <span>{{notification.date}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.notification.createdOn">Created On</span></dt>
                <dd>
                    <span>{{notification.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.notification.message">Message</span></dt>
                <dd>
                    <span>{{notification.message}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.notification.icon">Icon</span></dt>
                <dd>
                    <span>{{notification.icon}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.notification.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'testangularApp.NotificationStatus.' + notification.status}}">{{notification.status}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.notification.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="notification.parent">
                        <a [routerLink]="['/parent', notification.parent?.id, 'view']">{{notification.parent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
