<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kudosRecord">
            <h2><span jhiTranslate="testangularApp.kudosRecord.detail.title">Kudos Record</span> {{kudosRecord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.kudosRecord.createdOn">Created On</span></dt>
                <dd>
                    <span>{{kudosRecord.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudosRecord.notes">Notes</span></dt>
                <dd>
                    <span>{{kudosRecord.notes}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudosRecord.studentProfile">Student Profile</span></dt>
                <dd>
                    <div *ngIf="kudosRecord.studentProfile">
                        <a [routerLink]="['/student-profile', kudosRecord.studentProfile?.id, 'view']">{{kudosRecord.studentProfile?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudosRecord.kudos">Kudos</span></dt>
                <dd>
                    <div *ngIf="kudosRecord.kudos">
                        <a [routerLink]="['/kudos', kudosRecord.kudos?.id, 'view']">{{kudosRecord.kudos?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kudos-record', kudosRecord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
