<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kudos">
            <h2><span jhiTranslate="testangularApp.kudos.detail.title">Kudos</span> {{kudos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.kudos.title">Title</span></dt>
                <dd>
                    <span>{{kudos.title}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudos.description">Description</span></dt>
                <dd>
                    <span>{{kudos.description}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudos.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{kudos.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudos.createdOn">Created On</span></dt>
                <dd>
                    <span>{{kudos.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.kudos.lastModifiedOn">Last Modified On</span></dt>
                <dd>
                    <span>{{kudos.lastModifiedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kudos', kudos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
