<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="milestoneRecord">
            <h2><span jhiTranslate="testangularApp.milestoneRecord.detail.title">Milestone Record</span> {{milestoneRecord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.milestoneRecord.createdOn">Created On</span></dt>
                <dd>
                    <span>{{milestoneRecord.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.milestoneRecord.notes">Notes</span></dt>
                <dd>
                    <span>{{milestoneRecord.notes}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.milestoneRecord.studentProfile">Student Profile</span></dt>
                <dd>
                    <div *ngIf="milestoneRecord.studentProfile">
                        <a [routerLink]="['/student-profile', milestoneRecord.studentProfile?.id, 'view']">{{milestoneRecord.studentProfile?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="testangularApp.milestoneRecord.milestone">Milestone</span></dt>
                <dd>
                    <div *ngIf="milestoneRecord.milestone">
                        <a [routerLink]="['/milestone', milestoneRecord.milestone?.id, 'view']">{{milestoneRecord.milestone?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/milestone-record', milestoneRecord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
