<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parent">
            <h2><span jhiTranslate="testangularApp.parent.detail.title">Parent</span> {{parent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.parent.name">Name</span></dt>
                <dd>
                    <span>{{parent.name}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.createdOn">Created On</span></dt>
                <dd>
                    <span>{{parent.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{parent.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.relation">Relation</span></dt>
                <dd>
                    <span jhiTranslate="{{'testangularApp.Relation.' + parent.relation}}">{{parent.relation}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.studentName">Student Name</span></dt>
                <dd>
                    <span>{{parent.studentName}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.isAccountActive">Is Account Active</span></dt>
                <dd>
                    <span>{{parent.isAccountActive}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.email">Email</span></dt>
                <dd>
                    <span>{{parent.email}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.parent.studentProfile">Student Profile</span></dt>
                <dd>
                    <div *ngIf="parent.studentProfile">
                        <a [routerLink]="['/student-profile', parent.studentProfile?.id, 'view']">{{parent.studentProfile?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parent', parent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
