<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="center">
            <h2><span jhiTranslate="testangularApp.center.detail.title">Center</span> {{center.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testangularApp.center.name">Name</span></dt>
                <dd>
                    <span>{{center.name}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.center.createdOn">Created On</span></dt>
                <dd>
                    <span>{{center.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.center.lastModifiedOn">Last Modified On</span></dt>
                <dd>
                    <span>{{center.lastModifiedOn}}</span>
                </dd>
                <dt><span jhiTranslate="testangularApp.center.organization">Organization</span></dt>
                <dd>
                    <div *ngIf="center.organization">
                        <a [routerLink]="['/organization', center.organization?.id, 'view']">{{center.organization?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/center', center.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
