<div>
    <h2 id="page-heading">
        <span jhiTranslate="testangularApp.milestone.home.title">Milestones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-milestone" [routerLink]="['/milestone/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testangularApp.milestone.home.createLabel">
            Create new Milestone
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="milestones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="testangularApp.milestone.title">Title</span></th>
            <th><span jhiTranslate="testangularApp.milestone.description">Description</span></th>
            <th><span jhiTranslate="testangularApp.milestone.imageUrl">Image Url</span></th>
            <th><span jhiTranslate="testangularApp.milestone.createdOn">Created On</span></th>
            <th><span jhiTranslate="testangularApp.milestone.lastModifiedOn">Last Modified On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let milestone of milestones ;trackBy: trackId">
                <td><a [routerLink]="['/milestone', milestone.id, 'view' ]">{{milestone.id}}</a></td>
                <td>{{milestone.title}}</td>
                <td>{{milestone.description}}</td>
                <td>{{milestone.imageUrl}}</td>
                <td>{{milestone.createdOn | date:'mediumDate'}}</td>
                <td>{{milestone.lastModifiedOn | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/milestone', milestone.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/milestone', milestone.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'milestone/'+ milestone.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
